.outter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 1000px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  letter-spacing: 0.25px;
  color: white;

}

.songText {
  pointer-events: none!important;
}

.artistText {
  pointer-events: none!important
}

.parentText {
  pointer-events: none!important
}


svg {
  background-color: white;
  margin-top: 50px;
  margin-bottom: 100px;
  border: 1px solid white;
  border-radius: 5px;
}

.information {
  display: flex;
  width: 925px;;
  margin-top: 50px;
  justify-content: space-between;
}

.description {
  width: 560px;
}

.title {
  color: blue;
  width: 150px;
  font-size: 64px;
  font-weight: bold;
  opacity: 0.7;
}

.links-pic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  margin-right: 15px;
}

.links-pic a {
  width: 20%;
  height: 15%;
}


.github {
  width: 100%;
  height: 100%;
}
