.outter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 1000px;
}

.container {
  display: flex;
  justify-content: center;
  letter-spacing: 0.25px;
  color: white;

}

svg {
  background-color: white;
  margin-top: 50px;
  margin-bottom: 100px;
  border: 1px solid white;
  border-radius: 5px;
}

.information {
  display: flex;
  width: 45%;
  margin-left: 50px;
  justify-content: space-between;
}

.description {
  width: 45%;
}

.title {
  color: blue;
  width: 150px;
}

.links {
  align-self: flex-start;
}
